@tailwind base;
@tailwind components;
@tailwind utilities;

.form{
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  left: 35em;
}
body{
  background-color: rgb(184, 232, 236);
}